---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/devices
    body:
      encoding: US-ASCII
      string: ! '{"label":"foo","description":"bar","created_at":"2012-09-16T13:04:29-07:00","updated_at":"2012-09-16T13:04:29-07:00","hostname":"host0.lvh.me","type":"Device"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/devices/1122
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"871e0bfa49b87a89facf97690ebb3e36"'
    body:
      encoding: US-ASCII
      string: ! '{"auth_password":null,"auth_protocol":null,"community":null,"created_at":"2012-09-16T20:04:29Z","creator_id":371,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"hostname":"host0.lvh.me","id":1122,"ip_address":"127.0.0.1","ip_forwarding":null,"label":"foo","memory":null,"num_cpus":null,"os":null,"os_type":null,"os_vendor":null,"os_version":null,"priv_password":null,"priv_protocol":null,"snmp_index":null,"snmp_version":null,"state":"unknown","sys_contact":null,"sys_descr":null,"sys_location":null,"sys_name":null,"sys_objectid":null,"updated_at":"2012-09-16T20:04:29Z","updater_id":371}'
  recorded_at: Sun, 16 Sep 2012 20:04:29 GMT
recorded_with: VCR 2.2.5
