---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ! '{"description":"foo","label":"bar"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/nodes/2865
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"56625feb316a90bc811a405b0c97cdeb"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-23T06:47:57Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"foo","device_id":null,"id":2865,"label":"bar","snmp_index":null,"state":"unknown","updated_at":"2012-06-23T06:47:57Z","updater_id":null}'
  recorded_at: Sat, 23 Jun 2012 06:47:57 GMT
recorded_with: VCR 2.2.2
