---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"2b9d6d3cf0f6930779a7dee718ab5ac4"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-06-23T01:47:43Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":2866,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-23T01:47:43Z","updater_id":null},{"created_at":"2012-06-23T01:47:43Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":2867,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-23T01:47:43Z","updater_id":null},{"created_at":"2012-06-23T01:47:43Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":2868,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-23T01:47:43Z","updater_id":null},{"create[...]
