---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"67d28d6f6d1eede9c27fb7ddc3b0555b"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-23T01:47:43Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foobar","snmp_index":null,"state":"unknown","updated_at":"2012-06-23T01:47:43Z","updater_id":null}'
  recorded_at: Sat, 23 Jun 2012 06:47:57 GMT
recorded_with: VCR 2.2.2
