---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/events
    body:
      encoding: UTF-8
      string: ! '{"event":{"created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"c2558ca9865a86c1bb5d7ac755de645f"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event":{"id":22,"poller_id":null,"node_id":null,"data_source_id":null,"state":"open","repeats":0,"severity":null,"description":null,"additional":{},"notes":null,"arguments":{},"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-25T09:36:53.149Z","updated_at":"2013-08-25T09:36:53.149Z","deleted_at":null,"creator_id":243,"updater_id":243}}'
  recorded_at: Sun, 25 Aug 2013 09:36:53 GMT
recorded_with: VCR 2.5.0
