---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/events
    body:
      encoding: UTF-8
      string: ! '{"event":{"created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"b088aad70313bba1f8eef2c3f8d2c181"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event":{"id":12,"poller_id":null,"node_id":null,"data_source_id":null,"state":"open","repeats":0,"severity":null,"description":null,"additional":null,"notes":null,"arguments":null,"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-17T23:25:55.188Z","updated_at":"2013-08-17T23:25:55.188Z","deleted_at":null,"creator_id":null,"updater_id":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:55 GMT
recorded_with: VCR 2.5.0
