---
http_interactions:
- request:
    method: delete
    uri: http://test.netatlas.lvh.me/api/events/1
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"563421b2633e5d0a078f1da58ecf6c02"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event":{"id":1,"poller_id":null,"node_id":null,"data_source_id":null,"state":null,"repeats":0,"severity":null,"description":null,"additional":{},"notes":null,"arguments":{},"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"creator_id":null,"updater_id":null}}'
  recorded_at: Sun, 25 Aug 2013 09:36:53 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/events/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 404
      message: 
    headers:
      status:
      - '404'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":"Resource not found!"}'
  recorded_at: Sun, 25 Aug 2013 09:36:53 GMT
recorded_with: VCR 2.5.0
