---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/events/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"db2e8e6250c87af2a99eaff4447b33ca"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event":{"id":1,"poller_id":null,"node_id":null,"data_source_id":null,"state":null,"repeats":0,"severity":null,"description":null,"additional":null,"notes":null,"arguments":null,"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null,"creator_id":null,"updater_id":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:55 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/events
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"45190bea935e852e1a64ff47793cce54"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"event":{"id":13,"poller_id":null,"node_id":null,"data_source_id":null,"state":null,"repeats":0,"severity[...]
