---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"6483637c3f27a511d4a9fce1357806b5"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-09-30T17:00:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"hostname":"host15.lvh.me","id":1,"port":null,"queue_password":"pass15","queue_username":"user15","state":"unknown","updated_at":"2012-09-30T17:00:50Z","updater_id":null}'
  recorded_at: Mon, 01 Oct 2012 00:01:18 GMT
recorded_with: VCR 2.2.5
