---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/nodes
    body:
      encoding: UTF-8
      string: ! '{"node":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"c8b72978d9cf6d35e6cf450554813cfc"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"node":{"id":339,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":258,"updater_id":258,"deleter_id":null,"created_at":"2013-08-25T09:36:57.703Z","updated_at":"2013-08-25T09:36:57.703Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:36:57 GMT
recorded_with: VCR 2.5.0
