---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/nodes
    body:
      encoding: UTF-8
      string: ! '{"node":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"1ce769603915af47fdd4c0cbed925262"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"node":{"id":232,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T23:25:57.216Z","updated_at":"2013-08-17T23:25:57.216Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:57 GMT
recorded_with: VCR 2.5.0
