---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ! '{"label":"foo","description":"bar","created_at":"2012-09-30T17:04:38-07:00","updated_at":"2012-09-30T17:04:38-07:00"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/nodes/465
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"c8d4a1aa008408e95e95d54c4a3428f5"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-10-01T00:04:38Z","creator_id":219,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":465,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-10-01T00:04:38Z","updater_id":219}'
  recorded_at: Mon, 01 Oct 2012 00:04:38 GMT
recorded_with: VCR 2.2.5
