---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"456355f58b7ad1a6007460b34f1536d4"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-09-30T17:04:38Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":466,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:04:38Z","updater_id":null},{"created_at":"2012-09-30T17:04:38Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":467,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:04:38Z","updater_id":null},{"created_at":"2012-09-30T17:04:38Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":468,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:04:38Z","updater_id":null},{"created_[...]
