---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/notifications
    body:
      encoding: UTF-8
      string: ! '{"notification":{"message":"Test Message","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"58b8b45d136c6ff3ca8088d6ffeefa80"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"notification":{"id":12,"event_id":null,"contact_id":null,"event_filter_id":null,"state":"pending","message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-17T23:25:58.393Z","updated_at":"2013-08-17T23:25:58.393Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:58 GMT
recorded_with: VCR 2.5.0
