---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/notifications
    body:
      encoding: UTF-8
      string: ! '{"notification":{"message":"Test Message","created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"b0b40f943936d4a9fc493350e473a952"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"notification":{"id":22,"event_id":null,"contact_id":null,"event_filter_id":null,"state":"pending","message":"Test
        Message","creator_id":266,"updater_id":266,"created_at":"2013-08-25T09:37:00.691Z","updated_at":"2013-08-25T09:37:00.691Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:37:00 GMT
recorded_with: VCR 2.5.0
