---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/notifications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"66aa7a54ba3b3e1cc272df692cd19222"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"notification":{"id":23,"event_id":null,"contact_id":null,"event_filter_id":null,"state":null,"message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null}},{"notification":{"id":24,"event_id":null,"contact_id":null,"event_filter_id":null,"state":null,"message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null}},{"notification":{"id":25,"event_id":null,"contact_id":null,"event_filter_id":null,"state":null,"message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T[...]
