---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/services/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"54b5f471502b7f895c4bc3236b4d8a5f"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"service":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null,"port":null,"service_type_id":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:43 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/services/1
    body:
      encoding: UTF-8
      string: ! '{"service":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null,"port":null,"service_type_id":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"9fbc9e998bbb8d7d1ac215c68e6378c5"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"service":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":375,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T09:40:43.669Z","deleted_at":null,"port":null,"service_type_id":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:43 GMT
recorded_with: VCR 2.5.0
