---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"4470d94501fc7cbb776ddc7709aa18ac"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"node":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:57 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/nodes/1
    body:
      encoding: UTF-8
      string: ! '{"node":{"id":1,"label":"New Label","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"8b672f17c7250d4093764f3bd6e9baf6"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"node":{"id":1,"label":"New Label","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T23:25:57.925Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:57 GMT
recorded_with: VCR 2.5.0
