---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/data_sources/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"55f1e2712572c003b59dc1615f715d78"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":1,"node_id":208,"plugin_id":60,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sat, 17 Aug 2013 23:25:53 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/data_sources/1
    body:
      encoding: UTF-8
      string: ! '{"data_source":{"id":1,"node_id":208,"plugin_id":60,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":">","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"efd4b038c0a4f05ad3e443fd29c3561f"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":1,"node_id":208,"plugin_id":60,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T23:25:53.929Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sat, 17 Aug 2013 23:25:53 GMT
recorded_with: VCR 2.5.0
