---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/data_sources/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"6fbd71a441ecd0f92411ca58a793a52c"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":1,"node_id":207,"plugin_id":59,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sat, 17 Aug 2013 23:25:53 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/data_sources/1
    body:
      encoding: UTF-8
      string: ! '{"data_source":{"id":1,"node_id":207,"plugin_id":59,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":">","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null,"plugin_name":"Plugin","ip_address":"","label":"New
        Label"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"694c3f30fcb7fb05375cacdc1dc8ca5e"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":1,"node_id":207,"plugin_id":59,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T23:25:53.802Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sat, 17 Aug 2013 23:25:53 GMT
recorded_with: VCR 2.5.0
