---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/services
    body:
      encoding: UTF-8
      string: ! '{"service":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00","type":"Service"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"cde28873143575553ab49bbc100ee782"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"service":{"id":350,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":282,"updater_id":282,"deleter_id":null,"created_at":"2013-08-25T09:37:07.148Z","updated_at":"2013-08-25T09:37:07.148Z","deleted_at":null,"port":null,"service_type_id":null}}'
  recorded_at: Sun, 25 Aug 2013 09:37:07 GMT
recorded_with: VCR 2.5.0
