---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/services
    body:
      encoding: UTF-8
      string: ! '{"service":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00","type":"Service"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"d0c03d5682f88bec4bbbb9fc10e9e138"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"service":{"id":243,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T23:26:00.811Z","updated_at":"2013-08-17T23:26:00.811Z","deleted_at":null,"port":null,"service_type_id":null}}'
  recorded_at: Sat, 17 Aug 2013 23:26:00 GMT
recorded_with: VCR 2.5.0
