---
http_interactions:
- request:
    method: delete
    uri: http://test.netatlas.lvh.me/api/services/1
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"5ff554e51e30bb5a5524f65bd4594b84"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"service":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null,"port":null,"service_type_id":null}}'
  recorded_at: Sat, 17 Aug 2013 23:26:01 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/services/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      status:
      - '404'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":"Resource not found!"}'
  recorded_at: Sat, 17 Aug 2013 23:26:01 GMT
recorded_with: VCR 2.5.0
