---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"972576f5ac9c55ffbabc3269621e836a"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"service":{"id":351,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"port":null,"service_type_id":null}},{"service":{"id":352,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"port":null,"service_type_id":null}},{"service":{"id":353,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id"[...]
