---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/data_sources
    body:
      encoding: UTF-8
      string: ! '{"data_source":{"plugin_id":173,"node_id":241,"state":"unknown","created_at":"2013-08-25T02:34:34-07:00","updated_at":"2013-08-25T02:34:34-07:00","arguments":"{}"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"1a026f85d26d0ba86254aafbd7cec86d"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":93,"node_id":241,"plugin_id":173,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"data_type":null,"arguments":{},"varbinds":{},"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":202,"updater_id":202,"deleter_id":null,"created_at":"2013-08-25T09:34:35.490Z","updated_at":"2013-08-25T09:34:35.490Z","deleted_at":null,"node":{"id":241,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:34:34.757Z","updated_at":"2013-08-25T02:34:34.757Z","deleted_at":null},"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sun, 25 Aug 2013 09:34:35 GMT
recorded_with: VCR 2.5.0
