---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/data_sources
    body:
      encoding: UTF-8
      string: ! '{"data_source":{"plugin_id":45,"node_id":193,"state":"unknown","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"50d89e2b8cb5f21b35b131abfdd0dcdd"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":33,"node_id":193,"plugin_id":45,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T23:25:52.940Z","updated_at":"2013-08-17T23:25:52.940Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sat, 17 Aug 2013 23:25:52 GMT
recorded_with: VCR 2.5.0
