---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/data_sources/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"1d8edb25b4988f51113a59df8debc60a"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":1,"node_id":194,"plugin_id":46,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"arguments":null,"varbinds":null,"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null,"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sat, 17 Aug 2013 23:25:53 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"303996aa9c401abdc664bf11d9358a1e"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"data_source":{"id":34,"node_id":195,"plugin_id":47,"data_template_id":null,"state":"unknown","last[...]
