---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/data_sources
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"360ee45505d4078ccce695573833d507"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"data_source":{"id":104,"node_id":260,"plugin_id":193,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"data_type":null,"arguments":{},"varbinds":{},"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:17.741Z","updated_at":"2013-08-25T02:36:17.741Z","deleted_at":null,"node":{"id":260,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:17.740Z","updated_at":"2013-08-25T02:36:17.740Z","deleted_at":null},"plugin_name":"Plugin","ip_address":""}},{"data_source":{"id":105,"node_id":261,"plugin_id":194,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":null,"data_type":null,"arguments":{},"varbinds":{},"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:17.741Z","updated_at":"2013-08-25T02:36:17.741Z","deleted_at":null,"node":{"id":261,"label":"foo","description":"bar","state":"unknown","dev[...]
