---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/notifications/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"793c8517b68eb72827488bd6f660222a"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"notification":{"id":1,"event_id":null,"contact_id":null,"event_filter_id":null,"state":null,"message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:59 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/notifications/1
    body:
      encoding: UTF-8
      string: ! '{"notification":{"id":1,"event_id":null,"contact_id":null,"event_filter_id":null,"state":null,"message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"793c8517b68eb72827488bd6f660222a"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"notification":{"id":1,"event_id":null,"contact_id":null,"event_filter_id":null,"state":null,"message":"Test
        Message","creator_id":null,"updater_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:59 GMT
recorded_with: VCR 2.5.0
