---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/notifications/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"bb573d96c0cc402c5b565f9282427267"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"notification":{"contact_id":null,"created_at":"2013-05-12T20:21:04Z","creator_id":null,"deleted_at":null,"event_filter_id":null,"event_id":null,"id":1,"message":"Test
        Message","state":null,"updated_at":"2013-05-12T20:21:04Z","updater_id":null}}'
  recorded_at: Mon, 13 May 2013 03:21:30 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/notifications/1
    body:
      encoding: UTF-8
      string: ! '{"notification":{"contact_id":null,"created_at":"2013-05-12T20:21:04Z","creator_id":null,"deleted_at":null,"event_filter_id":null,"event_id":null,"id":1,"message":"New
        Message","state":null,"updated_at":"2013-05-12T20:21:04Z","updater_id":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"bb573d96c0cc402c5b565f9282427267"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"notification":{"contact_id":null,"created_at":"2013-05-12T20:21:04Z","creator_id":null,"deleted_at":null,"event_filter_id":null,"event_id":null,"id":1,"message":"Test
        Message","state":null,"updated_at":"2013-05-12T20:21:04Z","updater_id":null}}'
  recorded_at: Mon, 13 May 2013 03:21:30 GMT
recorded_with: VCR 2.4.0
