---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ! '{"label":"foo","description":"bar","created_at":"2012-07-22T13:42:33-07:00","updated_at":"2012-07-22T13:42:33-07:00"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/nodes/125
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"3f12e7e68ee6bd68f65f9b988d84b9cc"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-22T20:43:51Z","creator_id":57,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":125,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T20:43:51Z","updater_id":57}'
  recorded_at: Sun, 22 Jul 2012 20:43:51 GMT
recorded_with: VCR 2.2.2
