---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ! '{"label":"foo","description":"bar","created_at":"2012-06-24T02:16:19-05:00","updated_at":"2012-06-24T02:16:19-05:00"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/nodes/58
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"2e7b4fbe3a82f9c12da7f9932e7f712e"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-24T07:16:20Z","creator_id":30,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":58,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T07:16:20Z","updater_id":30}'
  recorded_at: Sun, 24 Jun 2012 07:16:20 GMT
recorded_with: VCR 2.2.2
