---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ! '{"label":"foo","description":"bar","created_at":"2012-09-16T13:04:29-07:00","updated_at":"2012-09-16T13:04:29-07:00"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/nodes/1124
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"0c7c398c0df0b4db1ea97059ad3b326c"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-09-16T20:04:30Z","creator_id":372,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1124,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-16T20:04:30Z","updater_id":372}'
  recorded_at: Sun, 16 Sep 2012 20:04:30 GMT
recorded_with: VCR 2.2.5
