---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"74779e63363f2e1f1ef60d92b5ead157"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-09-30T17:00:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":443,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:00:50Z","updater_id":null},{"created_at":"2012-09-30T17:00:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":444,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:00:50Z","updater_id":null},{"created_at":"2012-09-30T17:00:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":445,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:00:50Z","updater_id":null},{"created_[...]
