---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"3d1f82e1aea026fd243c979587f943ea"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-09-16T13:05:15Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1170,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-16T13:05:15Z","updater_id":null},{"created_at":"2012-09-16T13:05:15Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1171,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-16T13:05:15Z","updater_id":null},{"created_at":"2012-09-16T13:05:15Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1172,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-16T13:05:15Z","updater_id":null},{"create[...]
