---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"1543c8d2689ebb8f9893bacfde9f2671"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-06-24T02:18:13Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":94,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T02:18:13Z","updater_id":null},{"created_at":"2012-06-24T02:18:13Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":95,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T02:18:13Z","updater_id":null},{"created_at":"2012-06-24T02:18:13Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":96,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T02:18:13Z","updater_id":null},{"created_at[...]
