---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"5777a48e145e4a901ecc1ee618fbfa94"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-07-22T13:42:33Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":126,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T13:42:33Z","updater_id":null},{"created_at":"2012-07-22T13:42:33Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":127,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T13:42:33Z","updater_id":null},{"created_at":"2012-07-22T13:42:33Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":128,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T13:42:33Z","updater_id":null},{"created_[...]
