---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"c195619208499913760a66e1702b689e"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-22T13:42:33Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foobar","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T13:42:33Z","updater_id":null}'
  recorded_at: Sun, 22 Jul 2012 20:43:51 GMT
recorded_with: VCR 2.2.2
