---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"232d6f44b45b7ac1bc9907b1e1d9342a"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-24T02:18:13Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foobar","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T02:18:13Z","updater_id":null}'
  recorded_at: Sun, 24 Jun 2012 07:18:31 GMT
recorded_with: VCR 2.2.2
