---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/devices
    body:
      encoding: US-ASCII
      string: ! '{"label":"foo","description":"bar","created_at":"2012-09-30T17:04:27-07:00","updated_at":"2012-09-30T17:04:27-07:00","hostname":"host0.lvh.me","type":"Device"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/devices/453
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"58e5021a13beaa74d3973b8383aca567"'
    body:
      encoding: US-ASCII
      string: ! '{"auth_password":null,"auth_protocol":null,"community":null,"created_at":"2012-10-01T00:04:28Z","creator_id":212,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"hostname":"host0.lvh.me","id":453,"ip_address":{"family":2,"addr":2130706433,"mask_addr":4294967295},"ip_forwarding":null,"label":"foo","memory":null,"num_cpus":null,"os":null,"os_type":null,"os_vendor":null,"os_version":null,"priv_password":null,"priv_protocol":null,"snmp_index":null,"snmp_version":null,"state":"unknown","sys_contact":null,"sys_descr":null,"sys_location":null,"sys_name":null,"sys_objectid":null,"updated_at":"2012-10-01T00:04:28Z","updater_id":212}'
  recorded_at: Mon, 01 Oct 2012 00:04:28 GMT
recorded_with: VCR 2.2.5
