---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/devices
    body:
      encoding: UTF-8
      string: ! '{"device":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00","hostname":"host0.lvh.me","type":"Device"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"696bfd9d9677ef9bf29d7187eacf15ae"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"device":{"id":209,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T23:25:54.132Z","updated_at":"2013-08-17T23:25:54.132Z","deleted_at":null,"hostname":"host0.lvh.me","ip_address":{"family":2,"addr":2130706433,"mask_addr":4294967295},"ip_forwarding":null,"os":null,"os_version":null,"os_type":null,"os_vendor":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"sys_name":null,"sys_descr":null,"sys_contact":null,"sys_location":null,"sys_objectid":null,"memory":null,"num_cpus":null,"snmp_version":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:54 GMT
recorded_with: VCR 2.5.0
