---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/devices
    body:
      encoding: UTF-8
      string: ! '{"device":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00","hostname":"host0.lvh.me","type":"Device"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"e37e594993e491317624f292f7f3d3ac"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"device":{"id":316,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":235,"updater_id":235,"deleter_id":null,"created_at":"2013-08-25T09:36:50.968Z","updated_at":"2013-08-25T09:36:50.968Z","deleted_at":null,"hostname":"host0.lvh.me","ip_address":{"family":2,"addr":2130706433,"mask_addr":4294967295},"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"snmp_version":null}}'
  recorded_at: Sun, 25 Aug 2013 09:36:51 GMT
recorded_with: VCR 2.5.0
