---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/devices/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"659e40fcb920ecc1de9e1fb4244b8c08"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"device":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null,"hostname":"host1.lvh.me","ip_address":null,"ip_forwarding":null,"os":null,"os_version":null,"os_type":null,"os_vendor":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"sys_name":null,"sys_descr":null,"sys_contact":null,"sys_location":null,"sys_objectid":null,"memory":null,"num_cpus":null,"snmp_version":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:54 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"41282802011c946f82d9e81c57313098"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"device":{"id":211,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":nul[...]
