---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/devices/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"72a20bcc60849e25d7dbeaef1ce2d0a6"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"device":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"hostname":"host1.lvh.me","ip_address":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"snmp_version":null}}'
  recorded_at: Sun, 25 Aug 2013 09:36:51 GMT
recorded_with: VCR 2.5.0
