---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/devices
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"71e7c41cf25c1a18c920d87f4bdf866d"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"device":{"id":318,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"hostname":"host2.lvh.me","ip_address":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"snmp_version":null}},{"device":{"id":319,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"hostname":"host3.lvh.me","ip_address":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"snmp_version":null}},{"device":{"id":320,"label":"[...]
