---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/pollers
    body:
      encoding: UTF-8
      string: ! '{"poller":{"hostname":"host0.lvh.me","queue_username":"user0","queue_password":"pass0","created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00","state":"unknown"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"5952e3c70e0b95051e32ebc5ccb5eec8"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":24,"hostname":"host0.lvh.me","port":null,"state":"unknown","queue_username":"user0","queue_password":"pass0","creator_id":273,"updater_id":273,"deleter_id":null,"created_at":"2013-08-25T09:37:03.901Z","updated_at":"2013-08-25T09:37:03.901Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:37:03 GMT
recorded_with: VCR 2.5.0
