---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/pollers
    body:
      encoding: UTF-8
      string: ! '{"poller":{"hostname":"host0.lvh.me","queue_username":"user0","queue_password":"pass0","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00","state":"unknown"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"6aa6fa6263385993c83767ef775d565d"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":12,"hostname":"host0.lvh.me","port":null,"state":"unknown","queue_username":"user0","queue_password":"pass0","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T23:25:59.653Z","updated_at":"2013-08-17T23:25:59.653Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:59 GMT
recorded_with: VCR 2.5.0
