---
http_interactions:
- request:
    method: post
    uri: http://test.lvh.me:3001/pollers
    body:
      encoding: US-ASCII
      string: ! '{"hostname":"host0.lvh.me","queue_username":"user0","queue_password":"pass0","created_at":"2012-09-30T17:04:50-07:00","updated_at":"2012-09-30T17:04:50-07:00"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      location:
      - http://test.lvh.me:3001/pollers/74
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"a97390ce87c8367cafb2a5babf45b1b2"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-10-01T00:04:50Z","creator_id":226,"deleted_at":null,"deleter_id":null,"hostname":"host0.lvh.me","id":74,"port":null,"queue_password":"pass0","queue_username":"user0","state":"unknown","updated_at":"2012-10-01T00:04:50Z","updater_id":226}'
  recorded_at: Mon, 01 Oct 2012 00:04:50 GMT
recorded_with: VCR 2.2.5
