---
http_interactions:
- request:
    method: delete
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"a16230e212af3c46f36d2929f79bed6a"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host12.lvh.me","port":null,"state":"unknown","queue_username":"user12","queue_password":"pass12","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:37:04 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 404
      message: 
    headers:
      status:
      - '404'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":"Resource not found!"}'
  recorded_at: Sun, 25 Aug 2013 09:37:04 GMT
recorded_with: VCR 2.5.0
