---
http_interactions:
- request:
    method: delete
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"6d671bb48a0bb9b0067453eac6c26bd7"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host12.lvh.me","port":null,"state":"unknown","queue_username":"user12","queue_password":"pass12","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:26:00 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      status:
      - '404'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":"Resource not found!"}'
  recorded_at: Sat, 17 Aug 2013 23:26:00 GMT
recorded_with: VCR 2.5.0
