---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/pollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"773e4f9b1deb23c690206897d98aa8c9"'
    body:
      encoding: US-ASCII
      string: ! '[{"created_at":"2012-09-30T17:04:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"hostname":"host2.lvh.me","id":75,"port":null,"queue_password":"pass2","queue_username":"user2","state":"unknown","updated_at":"2012-09-30T17:04:50Z","updater_id":null},{"created_at":"2012-09-30T17:04:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"hostname":"host3.lvh.me","id":76,"port":null,"queue_password":"pass3","queue_username":"user3","state":"unknown","updated_at":"2012-09-30T17:04:50Z","updater_id":null},{"created_at":"2012-09-30T17:04:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"hostname":"host4.lvh.me","id":77,"port":null,"queue_password":"pass4","queue_username":"user4","state":"unknown","updated_at":"2012-09-30T17:0[...]
