---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"bf9fc152d83c6190ad49659e6c92c27b"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host1.lvh.me","port":null,"state":"unknown","queue_username":"user1","queue_password":"pass1","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:37:04 GMT
recorded_with: VCR 2.5.0
