---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"287aec48779b4cfcaa7a0d27c634026e"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host1.lvh.me","port":null,"state":"unknown","queue_username":"user1","queue_password":"pass1","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:59 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"72db0731dafe1c091af853b2403a43c1"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"poller":{"id":13,"hostname":"host2.lvh.me","port":null,"state":"unknown","queue_username":"user2","queu[...]
