---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"1b27db44c23c5ae9fd3d0c33ca93a5e0"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"poller":{"id":25,"hostname":"host2.lvh.me","port":null,"state":"unknown","queue_username":"user2","queue_password":"pass2","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null}},{"poller":{"id":26,"hostname":"host3.lvh.me","port":null,"state":"unknown","queue_username":"user3","queue_password":"pass3","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null}},{"poller":{"id":27,"hostname":"host4.lvh.me","port":null,"state":"unknown","queue_username":"user4","queue_password":"pass4","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.1[...]
