---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"72f6f6f4339e2dff1c3783a3f7f24ff4"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-09-30T17:04:50Z","creator_id":null,"deleted_at":null,"deleter_id":null,"hostname":"host1.lvh.me","id":1,"port":null,"queue_password":"pass1","queue_username":"user1","state":"unknown","updated_at":"2012-09-30T17:04:50Z","updater_id":null}'
  recorded_at: Mon, 01 Oct 2012 00:04:51 GMT
recorded_with: VCR 2.2.5
