---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/events/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"0905e13129476b0bdc898b9c16bac0cb"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event":{"id":1,"poller_id":null,"node_id":null,"data_source_id":null,"state":"open","repeats":0,"severity":null,"description":null,"additional":{},"notes":null,"arguments":{},"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null,"creator_id":null,"updater_id":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:30 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/events/1
    body:
      encoding: UTF-8
      string: ! '{"event":{"id":1,"poller_id":null,"node_id":null,"data_source_id":null,"state":"open","repeats":0,"severity":null,"description":null,"additional":{},"notes":null,"arguments":{},"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null,"creator_id":null,"updater_id":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"3347052aad6dd56feed760cc435c82dd"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"event":{"id":1,"poller_id":null,"node_id":null,"data_source_id":null,"state":"open","repeats":0,"severity":null,"description":null,"additional":{},"notes":null,"arguments":{},"acknowledged_by_id":null,"resolved_by_id":null,"acknowledged_at":null,"resolved_at":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T09:40:30.133Z","deleted_at":null,"creator_id":null,"updater_id":336}}'
  recorded_at: Sun, 25 Aug 2013 09:40:30 GMT
recorded_with: VCR 2.5.0
