---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"f709daac31173acc92a92086962e4026"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host15.lvh.me","port":null,"state":"unknown","queue_username":"user15","queue_password":"pass15","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:40 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: UTF-8
      string: ! '{"poller":{"id":1,"hostname":"host15.lvh.me","port":null,"state":"unknown","queue_username":"user15","queue_password":"pass15","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"bc627750f7c2dba9fadb607e9af87301"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host15.lvh.me","port":null,"state":"unknown","queue_username":"user15","queue_password":"pass15","creator_id":null,"updater_id":367,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T09:40:40.680Z","deleted_at":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:40 GMT
recorded_with: VCR 2.5.0
