---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"d29f3f12b6cf43b092969bc5679cecff"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host15.lvh.me","port":null,"state":"unknown","queue_username":"user15","queue_password":"pass15","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:26:00 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/pollers/1
    body:
      encoding: UTF-8
      string: ! '{"poller":{"id":1,"hostname":"host15.lvh.me","port":null,"state":"unknown","queue_username":"user15","queue_password":"pass15","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"d29f3f12b6cf43b092969bc5679cecff"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"poller":{"id":1,"hostname":"host15.lvh.me","port":null,"state":"unknown","queue_username":"user15","queue_password":"pass15","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.272Z","updated_at":"2013-08-17T16:25:35.272Z","deleted_at":null}}'
  recorded_at: Sat, 17 Aug 2013 23:26:00 GMT
recorded_with: VCR 2.5.0
