---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/interfaces/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"7d97171e1b8737e0bada8632bba8eb59"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null,"ip_address":"192.168.0.15","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:31 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/interfaces/1
    body:
      encoding: UTF-8
      string: ! '{"interface":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T02:40:06.128Z","deleted_at":null,"ip_address":"192.168.0.15","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"b66fe229815d5d6ac82acb1f133c1940"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":344,"deleter_id":null,"created_at":"2013-08-25T02:40:06.128Z","updated_at":"2013-08-25T09:40:32.047Z","deleted_at":null,"ip_address":"192.168.0.15","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}}'
  recorded_at: Sun, 25 Aug 2013 09:40:32 GMT
recorded_with: VCR 2.5.0
