---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/interfaces/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"15416f25b7cef02da9e4ea21e33eee5d"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null,"ip_address":"192.168.0.14","hostname":null,"if_speed":null,"if_type":null,"if_name":null,"if_alias":null,"if_descr":null,"if_promiscuous":null,"if_high_speed":null,"if_admin_status":null,"physical_address":null,"mtu":null,"duplex":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:56 GMT
- request:
    method: put
    uri: http://test.netatlas.lvh.me/api/interfaces/1
    body:
      encoding: UTF-8
      string: ! '{"interface":{"id":1,"label":"New Label","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null,"ip_address":"192.168.0.14","hostname":null,"if_speed":null,"if_type":null,"if_name":null,"if_alias":null,"if_descr":null,"if_promiscuous":null,"if_high_speed":null,"if_admin_status":null,"physical_address":null,"mtu":null,"duplex":null}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"987cceade42682a8024b7709bf63b55f"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":1,"label":"New Label","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T23:25:56.962Z","deleted_at":null,"ip_address":"192.168.0.14","hostname":null,"if_speed":null,"if_type":null,"if_name":null,"if_alias":null,"if_descr":null,"if_promiscuous":null,"if_high_speed":null,"if_admin_status":null,"physical_address":null,"mtu":null,"duplex":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:56 GMT
recorded_with: VCR 2.5.0
