---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/data_sources/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"f95cb77cb3bc0e6aa5cd99a8eb086430"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"data_source":{"id":1,"node_id":1,"plugin_id":172,"data_template_id":null,"state":"unknown","last_polled_at":null,"interval":300,"description":"foobar","data_type":null,"arguments":{},"varbinds":{},"warning_threshold":null,"critical_threshold":null,"operator":"\u003E","creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:34:34.757Z","updated_at":"2013-08-25T02:34:34.757Z","deleted_at":null,"node":{"id":1,"label":"foobar","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:34:34.757Z","updated_at":"2013-08-25T02:34:34.757Z","deleted_at":null},"plugin_name":"Plugin","ip_address":""}}'
  recorded_at: Sun, 25 Aug 2013 09:34:35 GMT
recorded_with: VCR 2.5.0
