---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/devices/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"11891f747925f5e02a2eda5a673e018b"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"device":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null,"hostname":"host13.lvh.me","ip_address":null,"ip_forwarding":null,"os":null,"os_version":null,"os_type":null,"os_vendor":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"sys_name":null,"sys_descr":null,"sys_contact":null,"sys_location":null,"sys_objectid":null,"memory":null,"num_cpus":null,"snmp_version":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:54 GMT
- request:
    method: delete
    uri: http://test.netatlas.lvh.me/api/devices/1
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"11891f747925f5e02a2eda5a673e018b"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"device":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T16:25:35.271Z","updated_at":"2013-08-17T16:25:35.271Z","deleted_at":null,"hostname":"host13.lvh.me","ip_address":null,"ip_forwarding":null,"os":null,"os_version":null,"os_type":null,"os_vendor":null,"community":null,"auth_protocol":null,"auth_password":null,"priv_protocol":null,"priv_password":null,"sys_name":null,"sys_descr":null,"sys_contact":null,"sys_location":null,"sys_objectid":null,"memory":null,"num_cpus":null,"snmp_version":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:54 GMT
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/devices/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 
    headers:
      status:
      - '404'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":"Resource not found!"}'
  recorded_at: Sat, 17 Aug 2013 23:25:54 GMT
recorded_with: VCR 2.5.0
