---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"bbe952438e48d5987636fa5eb1aa0309"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-09-30T17:04:38Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-30T17:04:38Z","updater_id":null}'
  recorded_at: Mon, 01 Oct 2012 00:04:41 GMT
- request:
    method: put
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ! '{"label":"New Label"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Mon, 01 Oct 2012 00:04:41 GMT
recorded_with: VCR 2.2.5
