---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"65bbaaa34f0fbe84093e4b789ebcf7ae"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-09-16T13:05:15Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-16T13:05:15Z","updater_id":null}'
  recorded_at: Sun, 16 Sep 2012 20:05:28 GMT
[...]
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\"
        />\n  <title>Action Controller: Exception caught</title>\n  <style>\n    body
        { background-color: #fff; color: #333; }\n\n    body, p, ol, ul, td {\n      font-family:
        helvetica, verdana, arial, sans-serif;\n      font-size:   13px;\n      line-height:
        18px;\n    }\n\n    pre {\n      background-color: #eee;\n      padding: 10px;\n
        \     font-size: 11px;\n      white-space: pre-wrap;\n    }\n\n    a { color:
        #000; }\n    a:visited { color: #666; }\n    a:hover { color: #fff; background-color:#000;
        }\n  </style>\n</head>\n<body>\n\n<h1>\n  ActiveRecord::RecordNotFound\n    in
        NodesController#show\n</h1>\n<pre>Couldn't find Node with id=1</pre>\n\n\n<p><code>Rails.root:
        /Users/rmcclain/Projects/netatlas-rails</code></p>\n\n<div id=\"traces\">\n
        \   <a href=\"#\" onclick=\"document.getElementById('Framework-Trace').style.display='none';document.getElementById('Full-Trace').style.display='none';document.getElementById('Application-Trace').style.display='block';;
        return false;\">Application Trace</a> |\n    <a href=\"#\" onclick=\"document.getElementById('Application-Trace').style.display='none';document.getElementById('Full-Trace').style.display='none';document.getElementById('Framework-Trace').style.disp[...]
