---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"7d657c98f7d8ea602ccfe5eb7d3234d1"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-22T13:42:33Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T13:42:33Z","updater_id":null}'
  recorded_at: Sun, 22 Jul 2012 20:43:52 GMT
- request:
    method: put
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-07-22T13:42:33Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"New
        Label","snmp_index":null,"state":"unknown","updated_at":"2012-07-22T13:42:33Z","updater_id":null}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 22 Jul 2012 20:43:52 GMT
recorded_with: VCR 2.2.2
