---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"6dcf5c53a3a7da10e2bc5bdb9869983f"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-24T02:18:13Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T02:18:13Z","updater_id":null}'
  recorded_at: Sun, 24 Jun 2012 07:18:32 GMT
- request:
    method: put
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-06-24T02:18:13Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"New
        Label","snmp_index":null,"state":"unknown","updated_at":"2012-06-24T02:18:13Z","updater_id":null}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 24 Jun 2012 07:18:32 GMT
recorded_with: VCR 2.2.2
