---
http_interactions:
- request:
    method: get
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - ! '"65bbaaa34f0fbe84093e4b789ebcf7ae"'
    body:
      encoding: US-ASCII
      string: ! '{"created_at":"2012-09-16T13:05:15Z","creator_id":null,"deleted_at":null,"deleter_id":null,"description":"bar","device_id":null,"id":1,"label":"foo","snmp_index":null,"state":"unknown","updated_at":"2012-09-16T13:05:15Z","updater_id":null}'
  recorded_at: Sun, 16 Sep 2012 20:05:28 GMT
- request:
    method: put
    uri: http://test.lvh.me:3001/nodes/1
    body:
      encoding: US-ASCII
      string: ! '{"label":"New Label"}'
    headers:
      Authorization:
      - Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: 
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 16 Sep 2012 20:05:28 GMT
recorded_with: VCR 2.2.5
