---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/interfaces
    body:
      encoding: UTF-8
      string: ! '{"interface":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-25T02:36:32-07:00","updated_at":"2013-08-25T02:36:32-07:00","ip_address":"192.168.0.0","type":"Interface"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"7360e676199efd292f15f11394c0827b"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":328,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":251,"updater_id":251,"deleter_id":null,"created_at":"2013-08-25T09:36:55.191Z","updated_at":"2013-08-25T09:36:55.191Z","deleted_at":null,"ip_address":"192.168.0.0","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}}'
  recorded_at: Sun, 25 Aug 2013 09:36:55 GMT
recorded_with: VCR 2.5.0
