---
http_interactions:
- request:
    method: post
    uri: http://test.netatlas.lvh.me/api/interfaces
    body:
      encoding: UTF-8
      string: ! '{"interface":{"label":"foo","description":"bar","state":"unknown","created_at":"2013-08-17T16:25:35-07:00","updated_at":"2013-08-17T16:25:35-07:00","ip_address":"192.168.0.0","type":"Interface"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: 
    headers:
      etag:
      - ! '"c3f532d3df0b99d2e3308cad8ad8b9ec"'
      status:
      - '201'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":221,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":null,"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-17T23:25:56.254Z","updated_at":"2013-08-17T23:25:56.254Z","deleted_at":null,"ip_address":"192.168.0.0","hostname":null,"if_speed":null,"if_type":null,"if_name":null,"if_alias":null,"if_descr":null,"if_promiscuous":null,"if_high_speed":null,"if_admin_status":null,"physical_address":null,"mtu":null,"duplex":null}}'
  recorded_at: Sat, 17 Aug 2013 23:25:56 GMT
recorded_with: VCR 2.5.0
