---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/interfaces/1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"db1ce8272f39334ee6eb6a417dd5ef5a"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"interface":{"id":1,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"ip_address":"192.168.0.1","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}}'
  recorded_at: Sun, 25 Aug 2013 09:36:55 GMT
recorded_with: VCR 2.5.0
