---
http_interactions:
- request:
    method: get
    uri: http://test.netatlas.lvh.me/api/interfaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ! 'Basic YWRtaW5AbmV0YXRsYXMuY29tOnBhc3N3b3Jk

'
  response:
    status:
      code: 200
      message: 
    headers:
      etag:
      - ! '"ea0580ca57bc03391e2b44889d87f59f"'
      status:
      - '200'
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"interface":{"id":329,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"ip_address":"192.168.0.2","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}},{"interface":{"id":330,"label":"foo","description":"bar","state":"unknown","device_id":null,"snmp_index":null,"snmp_attributes":{},"last_scan":null,"creator_id":null,"updater_id":null,"deleter_id":null,"created_at":"2013-08-25T02:36:32.172Z","updated_at":"2013-08-25T02:36:32.172Z","deleted_at":null,"ip_address":"192.168.0.3","hostname":null,"physical_address":null,"mtu":null,"duplex":null,"speed":null,"if_type":null}},{"interface":{"id":331,"label":"foo","description":"bar","state":"unkno[...]
